.error-text {
	font-size: 12px;
	font-style: italic;
	color: var(--ion-color-danger);
	line-height: 14px;
	text-align: left;
	display: block;
	margin-top: 8px;
	.error {
		color: var(--ion-color-danger);
	}
	.warning {
		color: var(--ion-color-warning)
	}
	.success {
		color: var(--ion-color-success)
	}
}
