<ng-container *ngIf="errors$|async as err">
    <div *ngIf="err.length" class="error-text">
        <div [ngClass]="errorType">{{err[0]|invalidText : errorTag}}</div>
    </div>
    <ng-content></ng-content>
</ng-container>