<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Мои напоминания</ion-title>
		<ion-buttons slot="end" (click)="add()">
			<ion-button>
				<ion-icon name="add-circle-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Мои напоминания</ion-title>
		</ion-toolbar>
	</ion-header>
	<ng-container *ngIf="notifications$|async as notifications">
		<ion-refresher slot="fixed" (ionRefresh)="reLoadData($event)" >
			<ion-refresher-content></ion-refresher-content>
		</ion-refresher>
		<ion-list *ngIf="notifications.length; else emptyList">
			<ion-item-sliding #slideItem *ngFor="let item of notifications">
				<ion-item (click)="edit(item)">
					<ion-label>{{item.name}}</ion-label>
					<ion-note class="ion-text-center" style="font-size: 12px;">Начало <br>{{item.startDate|amDateFormat:'DD.MM.YYYY'}} в {{item.startTime|amDateFormat:'HH:mm'}}</ion-note>
				</ion-item>


				<ion-item-options side="end">
					<ion-item-option color="secondary" (click)="remove(item, slideItem)">
						<ion-icon slot="icon-only" name="trash-outline"></ion-icon>
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</ng-container>
	<ng-template #emptyList>
		<ion-item>
			У вас нет уведомлений
		</ion-item>
	</ng-template>
</ion-content>
