<ng-container *ngIf="filterOption; else simpleSelect">
	<ion-searchbar
			debounce="200"
			placeholder="Начните вводить текст"
			(ionChange)="applyFilter(true)"
			[(ngModel)]="searchString">

	</ion-searchbar>
	<ng-container *ngTemplateOutlet="select,context:{$implicit:{dictionary: filteredDictionary}}"></ng-container>
</ng-container>

<ng-template #simpleSelect>
	<ng-container *ngTemplateOutlet="select,context:{$implicit:{dictionary: dictionary}}"></ng-container>
</ng-template>

<ng-template #select let-ctx>
	<ion-list>
		<ion-item lines="none" *ngIf="emptyText" (click)="currentItemChange(null)">
			<ion-icon
					[name]="(!currentItem || currentItem.key == null) ? 'radio-button-on-outline' : 'ellipse-outline'"
					color="primary"
					slot="start">
			</ion-icon>
			<ion-label>{{emptyText}}</ion-label>
		</ion-item>
		<ion-item lines="none" *ngFor="let item of ctx.dictionary" (click)="currentItemChange(item)">
			<ion-icon
					[name]="!(currentItem && currentItem.key == item.key) ? 'ellipse-outline' : 'radio-button-on-outline'"
					color="primary"
					slot="start">
			</ion-icon>

			<ion-label>{{item.value || item}}</ion-label>
		</ion-item>
		<ion-item lines="none" *ngIf="!ctx.dictionary.length">
			<ion-label>Нет вариантов</ion-label>
		</ion-item>
	</ion-list>
</ng-template>
