.form-item {
    line-height: 24px;
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid
        var(--ion-tab-bar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.07))));
    position: relative;
    &.no-lines {
        border-bottom: 0;
    }
    &__title {
        margin-right: 30px;
        text-align: left;
    }

    &__values {
        color: var(--ion-color-primary);
        line-height: 16px;
        font-size: 12px;
        font-weight: normal;
        margin-right: 20px;
        max-height: 50px;
        overflow-y: hidden;
        margin-top:-6px;
    }

    &__content {
        font-weight: 400;
        font-size: 14px;
        margin-top: 6px;
        ::ng-deep ion-input {
            --background: #f9f9f9;
            --padding-start: 16px;
            --padding-end: 16px;
        }
        ::ng-deep ion-textarea {
            --background: #f9f9f9;
            --padding-start: 16px;
            --padding-end: 16px;
        }
    }

    &__control {
        position: absolute;
        right: 16px;
        top: 16px;
        font-weight: 400;
        font-size: 14px;        
        ::ng-deep ion-icon {
            width: 24px;
            height: 24px;
        }
    }

    ::ng-deep .yamap-suggest-search {
        padding: 0;
        padding-top: 16px;
    }
}
