<div class="form-item">
    <div class="form-item__title">
        <ng-content select="[slot=title]"></ng-content>
		<div class="form-item__control" *ngIf="noValues$|async">
			<ion-icon name="add-outline" color="primary"></ion-icon>
		</div>
	</div>

	<div class="form-item__content">
		<ng-content></ng-content>
	</div>

	<!--Кастомное наполнение-->
    <div class="form-item__control">
        <!--тут место для иконок в конце строки-->
        <ng-content select="[slot=titleEnd]"></ng-content>
    </div>
    <!--тут можно помещать кастомные значения зеленым цветом-->
    <div class="form-item__values">
        <ng-content select="[slot=values]"></ng-content>
    </div>

    <ng-content select="[slot=errors]"></ng-content>
</div>
