<ion-header>
    <ion-toolbar>
        <ion-title>{{type == 'edit' ? 'Редактирование' : 'Создание'}} уведомления</ion-title>
        <ion-buttons slot="end" (click)="close()">
            <ion-button>
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <form-item>
            <div slot="title">Название: *</div>
            <ion-input formControlName="name"></ion-input>
            <form-errors slot="errors" errorTag="name" [errors]="form.get('name').errors" [dirty]="form.get('name').dirty">
            </form-errors>
        </form-item>

        <form-item>
            <div slot="title">Дата срабатывания: *</div>
            <ion-datetime cancelText="Закрыть" doneText="Выбрать" [min]="minDate" [max]="maxDate"
                          displayFormat="DD.MM.YYYY" formControlName="startDate"></ion-datetime>
            <form-errors slot="errors" errorTag="startDate" [errors]="form.get('startDate').errors" [dirty]="form.get('startDate').dirty">
            </form-errors>
        </form-item>

        <form-item>
            <div slot="title">Время срабатывания: *</div>
            <ion-datetime cancelText="Закрыть" doneText="Выбрать" [min]="minTime" [max]="maxDate"
                          displayFormat="HH:mm" formControlName="startTime"></ion-datetime>
            <form-errors slot="errors" errorTag="startTime" [errors]="form.get('startTime').errors" [dirty]="form.get('startTime').dirty">
            </form-errors>
        </form-item>

        <form-item (click)="setPeriod()">
            <div slot="title">Период:</div>
            <ion-label>{{form.get('periodString').value}}</ion-label>
            <ion-icon *ngIf="form.get('periodTypeId').value" slot="titleEnd" name="close-outline" color="primary" (click)="clearPeriod()"></ion-icon>
        </form-item>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button
                            (click)="save()"
                            [disabled]="!!form.invalid">
                        Сохранить
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
